<!--
/***************************************************************
* Name        : Home/Index.cshtml
* Author      : Tom Sorteberg
* Created     : 04/21/2021
* Course      : CIS 174
* Version     : 1.0
* OS          : Windows 10 Pro, Visual Studio Community 2019
* Copyright   : This is my own original work based on
*               specifications issued by our instructor
* Description : Final Project
* I have not used unauthorized source code, either modified or
* unmodified. I have not given other fellow student(s) access
* to my program.
***************************************************************/
-->
@model Instrument

<div class="text-center">
    <h1>Our Staff Pick!</h1>
    <ul class="list-group">
        <li class="list-group-item list-group-item-heading list-group-item-success">
            <h5>
                <a asp-controller="Instrument"
                   asp-action="Details"
                   asp-route-id="@Model.InstrumentId"
                   asp-route-slug="@Model.Name.Slug()">
                    <img style="height: 50px; width: 50px;" src="~/images/@Model.LogoImage" alt="" />
                    @Model.Name - Sale: $@Model.Price
                </a>
            </h5>
        </li>
    </ul>
</div>
<div class="text-center">
    <h1>Shop by Department</h1>
</div>
<div class="main-container">
    <div class="sub-container">
        <a href="/instrument/list/page/1/size/4/sort/name/asc/filter/brand-all/department-strings/price-all">
            <img src="images/Strings.jpg" alt="Strings">
        </a>
    </div>

    <div class="sub-container">
        <a href="/instrument/list/page/1/size/4/sort/name/asc/filter/brand-all/department-percussion/price-all">
            <img src="images/Percussion.jpg" alt="Percussion">
        </a>
    </div>

    <div class="sub-container">
        <a href="/instrument/list/page/1/size/4/sort/name/asc/filter/brand-all/department-keys/price-all">
            <img src="images/Keys.jpg" alt="Keys">
        </a>
    </div>

    <div class="sub-container">
        <a href="/instrument/list/page/1/size/4/sort/name/asc/filter/brand-all/department-brass/price-all">
            <img src="images/Brass.jpg" alt="Brass">
        </a>
    </div>

    <div class="sub-container">
        <a href="/instrument/list/page/1/size/4/sort/name/asc/filter/brand-all/department-woodwinds/price-all">
            <img src="images/Woodwinds.jpg" alt="Woodwinds">
        </a>
    </div>

    <div class="sub-container">
        <a href="/instrument/list/page/1/size/4/sort/name/asc/filter/brand-all/department-gear/price-all">
            <img src="images/Gear.jpg" alt="Gear">
        </a>
    </div>

</div>